* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.header {
  box-sizing: border-box;
  margin: 92px 49px 92px 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.header__menu {
  display: flex;
  flex-grow: 1;
}

.header__links-list {
  display: flex;
  justify-content: center;
  list-style: circle;
  gap: 32px;
  text-shadow: 2px 2px 2px rgba(36, 36, 36, 0.2);
}

.header__list-item-active .header__link {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: flex;
  flex-grow: 1;
}

.header__logo-image {
  margin-left: 209px;
  margin-right: 355px;
  width: 148px;
  height: 105px;
}

address {
  all: initial;
  font-family: Raleway;
}

.header__address {
  max-width: 240px;
  line-height: 24.3px;
  text-underline-position: under;
  text-shadow: 2px 2px 2px rgba(36, 36, 36, 0.2);
}

.cover {
  background-image: url(../images/cover.jpg);
  position: relative;
  background-repeat: no-repeat;
  padding: 165px 50px 237px 50px;
  background-position: center;
  background-size: cover;
  height: 757px;
}

.overlay {
  position: absolute;
  opacity: 0.6;
  background: #000;
  width: 100%;
  z-index: 1;
  inset: 0;
}

.cover__title {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 60px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.aligned-text-one {
  text-align: start;
  letter-spacing: 30px;
  line-height: 115%;
}

.aligned-text-two {
  text-align: start;
  letter-spacing: 60px;
  line-height: 115%;
}

.aligned-text_center-one {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 30px;
  line-height: 100%;
}

.aligned-text_center-two {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 60px;
  line-height: 100%;
}

.aligned-text_right-one {
  text-align: end;
  letter-spacing: 60px;
  line-height: 100%;
}

.aligned-text_right-two {
  letter-spacing: 30px;
  line-height: 100%;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  color: #fff;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin-top: 135px;
}

.cover__description-text {
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  line-height: 28px;
  word-spacing: 19px;
  text-transform: uppercase;
  font-size: 22px;
  margin-right: 78px;
}

.bet-button {
  padding: 12px 32px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lots {
  width: 1340px;
  height: 579px;
  margin: 180px 50px 181px 50px;
}

.lots__heading {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 0px 1179px 0px 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  height: 450px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.card-link {
  text-decoration: none;
}

.card__title {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 50px 40px 30px 40px;
  position: relative;
  z-index: 1;
}

.card__text {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 40px 50px 40px;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  width: 430px;
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  flex-grow: 1;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  width: 430px;
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  width: 430px;
  min-height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.lots__look-more-link {
  display: flex;
  align-items: flex-end;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
  padding-left: 40px;
  padding-top: 30px;
}

.about {
  display: grid;
  grid-template-columns: 430px auto;
  gap: 25px;
  min-height: 487px;
  padding: 0px 50px;
}

.about__column {
  display: inline-flex;
  height: 388px;
  padding-bottom: 1px;
  flex-direction: column;
  gap: 100px;
}

.about__logo {
  display: grid;
  align-self: center;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 100px;
}

.about__text {
  display: grid;
  gap: 25px;
  width: 885px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  width: 1340px;
  height: 180px;
  margin: 180px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  align-items: center;
  list-style: none;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active .footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 50px;
  height: 48px;
}

.footer__social-icon {
  height: 48px;
}
